:root {
  box-sizing: border-box;
  --leftMenuWidth: max(300px, 15%);
  --leftMenuHeight: ;

  --content: #482C3D;
  --background: #EFF9F0;
  --primary: #A3C1AD;
  --accent: #EF8354;
}

html, body, #__next {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: rgba(0,0,0,0) none no-repeat scroll 0 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth
}
