.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.rightHalf {
  flex: 1;
  background-color: #f9f9f9;
  font-size: 18px;
  line-height: 1.5;
  overflow-y: auto;
  color: #444;
}
